<%- partial('mail/side') %>

<div class="main-body mail-page" id='J_content'>
	<div class="btn-groups clearfix">
		<div class="btn-group">
      <button class="btn btn-primary">发送 </button>
		</div>
    <div class="btn-group">
      <button class="btn">存草稿 </button>
    </div>
    <div class="btn-group">
      <button class="btn">预览 </button>
    </div>
    <div class="btn-group">
      <button class="btn"><a href=".">取消</a></button>
    </div>
	</div>
	<div class="compose-body">
	  <div><strong class="span1">主题：</strong><input type="text" class="span7" value="<%=data.mail.headers.date%>"></div>
	  <div><strong class="span1">收件人：</strong><input type="text" class="span7" value="<%=data.mail.headers.subject%>"></div>
	</div>	
  <iframe src="/mail/inbox/<%=id%>/html"></iframe>
</div>

<script type="text/javascript" src="/javascripts/mail.js"></script>