<div class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav">
    <li><a href="/mail/inbox"><i class="icon-chevron-right"></i> 收件箱</a></li>
    <li><a href="/mail/star"><i class="icon-chevron-right"></i> 星标邮件</a></li>
    <li><a href="/mail/draft"><i class="icon-chevron-right"></i> 草稿箱</a></li>
    <li><a href="/mail/sent"><i class="icon-chevron-right"></i> 已发送</a></li>
    <li><a href="/mail/deleted"><i class="icon-chevron-right"></i> 已删除</a></li>
    <li><a href="/mail/trash"><i class="icon-chevron-right"></i> 垃圾箱</a></li>
  </ul>
</div>

<div class="span9" id='J_content'>
  正在获取数据...
</div>