<%- include side.html %>

<div class="main-body" id="J_content">
  正在获取数据...
</div>

<script id="inbox_tpl" type="tpl/cache">
  <%if(tag=='inbox'){%>
  {{#messages}}
    <p>共 <strong>{{total}}</strong> 封，其中 <a href="/mail/unseen">未读邮件</a> <strong>{{new}}</strong> 封 <!--<a href="javascript:;">全部设为已读</a>--></p>
  {{/messages}}
  <%}%>
  <table class="table table-striped">
    <tr>
      <th>发件人</th>
      <th>主题</th>
      <th style="min-width:140px;">时间</th>
    </tr>
    {{#each msgs}}
      <tr>
      {{#mail}}
        {{#headers}}
          <td>{{from}}</td>
          <td><a href="/mail/inbox/{{../../msg/uid}}">{{#each subject}}{{.}}{{/each}}</a></td>
          <td>{{dateFormat date}}</td>
        {{/headers}}
      </tr>
      {{/mail}}
    {{/each}}
    {{^msgs}}
      <tr>
        <td colspan="3">
          <div class="well">无数据</div>
        </td>
      </tr>
    {{/msgs}}
  </table>
  <%if(tag=='inbox'){%>
  <ul class="pager">
    <li class="previous">
      <a href="/mail/inbox/page/<%=parseInt(page)+1%>">&larr; <%=parseInt(page)+1%>周前</a>
    </li>
    <%if(page!=1){%>
    <li class="next">
      <a href="/mail/inbox/page/<%=parseInt(page)-1%>"><%=parseInt(page)-1%>周前 &rarr;</a>
    </li>
    <%}%>
  </ul>
  <%}%>
</script>
<script src="/libs/moment/moment.js"></script>
<script src="/libs/moment/lang/zh-cn.js"></script>
<script>TAG='<%=tag||"inbox"%>';</script>
<script src="/javascripts/inbox.js"></script>
