<%- partial('mail/side') %>

<div class="main-body mail-page" id='J_content'>
	<!-- <code><%=JSON.stringify(data)%></code> -->
	<div class="btn-groups clearfix">
    <div class="btn-group">
      <button class="btn"><a href="/mail/inbox">返回</a> </button>
    </div>
		<div class="btn-group">
      <button class="btn"><a href="/mail/inbox/<%=id%>/compose">回复</a> </button>
		</div>
    <div class="btn-group">
      <button class="btn">转发 </button>
    </div>
    <div class="btn-group">
      <button class="btn">删除 </button>
    </div>
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">标记为 <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">已读邮件</a></li>
        <li><a href="#">未读邮件</a></li>
        <li><a href="#">已删除</a></li>
        <li class="divider"></li>
        <li><a href="#">垃圾邮件</a></li>
      </ul>
    </div>
	</div>
	<div class="mail-body">
    <div><span class="label">主 题</span><%=data.mail.headers.subject%></span></div>
	  <div><span class="label">发件人</span><%=data.mail.headers.from%></div>
	  <div><span class="label">收件人</span><%=data.mail.headers.to%></div>
    <div><span class="label">时 间</span><%=moment(data.mail.headers.date).format('LLLL')%></div>
	</div>	
  <iframe src="/mail/inbox/<%=id%>/html"></iframe>
</div>

<script type="text/javascript" src="/javascripts/mail.js"></script>
