<!DOCTYPE html> 
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='<%= config.description %>'>
    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) { 
    %>
    <%- headers[i] %>
    <% } %>
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/docs.css" /> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <!-- script -->
    <script src='/libs/jquery/jquery.js'></script>
    <!--script src='/libs/backbone/underscore.js'></script>
    <script src='/libs/backbone/backbone.js'></script-->
    <script src='/libs/bootstrap/js/bootstrap.js'></script>
    <script src='/libs/handlebars/handlebars.js'></script>
    <% if (locals.topic) { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
  </head>
  <body>
    <!-- navbar -->
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/mail'><%- config.site_logo || config.name %></a>
          <form id='search_form' class='navbar-search' action="/" style="display: none;">
            <input type='text' id='q' name='q' class='search-query span3' value='<%= locals.keyword || "" %>'/>
          </form>
          <ul class='nav pull-right'>
            <!--<li><a href='/mail'>首页</a></li>-->
            <%
            var site_navs = config.site_navs || [];
            for (var i = 0, l = site_navs.length; i < l; i++) {
              var nav = site_navs[i];
            %>
            <li><a href="<%- nav[0] %>" target="<%- nav[2] %>"><%- nav[1] %></a></li> 
            <% } %>
            <% locals %>
            <% if (locals.currentUser) { %>
            <!--<li><a href='/mail'>邮箱</a></li>-->
            <li><a><%=locals.currentUser.name%></a></li>
            <li><a href='/signout'>退出</a></li>
            <% } else { %>
            <li><a href='/signin'>登录</a></li>
            <% } %>
          </ul>
          <a class="fork2github" href="https://github.com/nomospace/nodemail">
            <img src="/images/octocat-icon.png" alt="Fork me on GitHub">
          </a>
        </div>
      </div>
    </div>
    <!-- wrapper -->  
    <div id='wrapper'>
      <div id='main'>
        <%- body %>
      </div>
      <div class='cl cr'></div>
    </div>
  </body>
</html> 
